/* Colors
---------------------------------------*/

$red: #d42e1d;
$taupe: #c2ada1;
$green: #75c06b;
$orange: #d9583c;
$lt_orange: #f48831;
$lt_blue: #a7cde9;
$dk_blue: #549ed4;
$teal: #41c6be;
$purple: #a985c7;
$neutral: #e3e8e9;
$less_daring: #677a82;
$daring: #4a5c67;
$tomato: #e06251;
$mint: #24dc97;
$darkmint: #20a37a;
$putty: #f6f6ef;
$frost: #dfe7eb;
$periwinkle: #0053c9;
$aqua: #87cbad;
$magenta: #cb5da1;
$deepblue: #272e3e;
$gold: #c48d0c;