<h3>Customer Service</h3>
<h5>Top 5 Frequently Asked Questions</h5>
<%=image_tag('/assets/large.png', class: "right") %>

<dl>
  <dt>1. How long does it take for my WeisBucks to be deposited into my account?</dt>
  <dd>Please allow up to 2 business days following your most recent qualifying purchase.</dd>
  <dt>2.  I did not have my Weis Shopper Card at checkout. Will I still earn my WeisBucks?</dt>
  <dd>No. Your purchases will only qualify for WeisBucks by presenting your card (or providing the phone number associated with your account).</dd>
  <dt>3. When will my WeisBucks be deposited into my account?</dt>
  <dd>As soon as you spend $250 qualifying dollars you will earn 25 WeisBucks for Club members or 75 WeisBucks for Gold members, which will be deposited into your account for rewards redemption.</dd>
  <dt>4. Where do I go to make changes to my member profile?</dt>
  <dd>Profile changes may be made by going to your MyWeis account click <%= link_to 'here.', current_profile %></dd>
  <dt>5. What purchases do not qualify for WeisRewards?</dt>
  <dd>Fuel and Prescription Drugs do not qualify to earn WeisBucks.</dd>
</dl>

<p>To view a full list of questions and answers please click <%=link_to "here", home_faqs_path %>.</p>

<h5>Questions or Comments?</h5>
<p>Click <%=link_to "here", new_inquiry_path %> to contact us.
