<h3>Customer Service</h3>
<h5>Top 5 Frequently Asked Questions</h5>

<%=image_tag('/assets/large.png', class: "right") %>
<dl>
  <dt>1. How long does it take for my Gold Bucks to be deposited into my account?</dt>
  <dd>Please allow up to 2 business days following your grocery purchase.</dd>

  <dt>2. I forgot to present my shopper card at checkout; will I still earn Gold Bucks?</dt>
  <dd>No. Your purchases can only be posted to your rewards account by presenting you card.</dd>
  <dt>3. How many Gold Bucks do I need to redeem rewards?</dt>
  <dd>As soon as you earn a total of 75 Gold Bucks you may redeem rewards.</dd>
  <dt>4. Where do I go to make changes to my member profile?</dt>
  <dd>Profile changes can be made by going to your MyWeis (Back to MyWeis Account) account.</dd>
  <dt>5. What items at Weis Markets do not qualify for the Rewards Program?</dt>
  <dd>Fuel and Rx do not qualifying for the Rewards Program.</dd>
</dl>

<p>To view a full list of questions and answers please click <%=link_to "here", home_faqs_path %>.</p>
