<h3>FAQs</h3>
<%=image_tag('/assets/large-1.png', class: "right") %>
<dl>
  <dt>How do I earn WeisBucks?</dt>
  <dd>For every qualifying dollar you spend at Weis Markets you will earn WeisBucks. 
Club Card members will earn 10% back in WeisBucks ($50 purchase = 5 WeisBucks).
Gold Card members will earn 30% back in WeisBucks ($50 purchase = 15 WeisBucks).</dd>

<dt>What purchases do not qualify for WeisRewards?</dt>
<dd>Fuel and Prescription Drugs do not qualify to earn WeisBucks.</dd>

<dt>I forgot to present my Weis Shopper Card at check out. Will I still earn my WeisBucks?</dt>

<dd>No. Your purchases will only be posted to your rewards account by presenting your card (or providing the phone number associated with your account).</dd>

<dt>When will my WeisBucks be deposited into my account?</dt>
<dd>As soon as you spend $250 qualifying dollars you will earn 25 WeisBucks for Club members or 75 for Gold members, which will be deposited into your account for rewards redemption.</dd>

<dt>How will I know how many WeisBucks I have earned and deposited for rewards redemption?</dt>
<dd>Your account page will provide you with current WeisBucks earned and deposited for rewards redemption. You will also receive a monthly e-Statement showing current WeisBucks deposited, redeemed, and remaining.</dd>

<dt>How long does it take for new WeisBucks to be added in my account?</dt>
<dd>Following each qualifying purchase, please allow up to two business days for newly earned WeisBucks to be added to your account.</dd>

<dt>Can I cash in my Gold Bucks for real currency?</dt>
<dd>No. Your WeisBucks may only be used to redeem rewards.</dd>
</dl>
