<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header">My<span class="red">Reward</span>Bucks</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
</div>

<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header"><span class="red">Rewards</span>Available</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
</div>

<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header">My<span class="red">Account</span></h1>
  <table class="generic">
    <tr>
      <td>Name</td>
      <td>John Smith</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>204 Any St.</td>
    <tr>
    <tr>
      <td>City State Zip</td>
      <td>Richmond, VA 23223</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>(804) 555-1212</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>me@domain.com</td>
    </tr>
  </table>
</div>

<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header">My<span class="red">Rewards</span>Earned</h1>
</div>