<h3>About MyGoldBucks</h3>
<%=image_tag('/assets/thumbnail.png', class: "right") %>

<p>Weis shoppers earn more...with WeisRewards. As a loyal card holder, earning rewards is simple and fast.  Shop, earn, and redeem your WiseBucks on over 200,000 exclusive member- only offers such as hotel stays, brand name merchandise, gift cards, and local offers.
For every qualifying dollar that you spend at Weis Markets you will earn WeisBucks. 
Club Card members will earn 10% back in WeisBucks ($50 purchase = 5 WeisBucks).</p>

<p>Gold Card members will earn 30% back in WeisBucks ($50 purchase = 15 WeisBucks).  
WeisBucks will be displayed in your account and deposited once you have spent $250 qualifying dollars.</p>

<p>Club Card members will receive a deposit of 25 WeisBucks for every $250 qualifying dollars.</p>

<p>Gold Card members will receive a deposit of 75 WeisBucks for every $250 qualifying dollars.</p>

<p>Start redeeming rewards today with your complimentary deposit of 25 WeisBucks and continue as you earn more every time you shop at WeisMarkets.</p>
