<h3>About MyGoldBucks</h3>
<%=image_tag('/assets/thumbnail.png', class: "right") %>
<p>As a Gold Card member, you will now earn 15% back in Gold Bucks for every qualifying dollar you spend at Weis Markets.</p>

<p>Example: $100 Purchase = 15 Gold Card Bucks earned</p>

<p>To qualify for member rewards, simply earn 75 Gold Bucks and redeem for exclusive offerings on hotel stays, brand name merchandise, gift cards, local offers, and more.</p>

<p>You may also participate in the daily Sweepstakes Giveaways by visiting your rewards catalog to instantly earn free tickets. By using your available Gold Bucks you have the opportunity to redeem up to an additional 15 tickets per day.</p>

<p>Continue to shop at Weis Markets and watch your Gold Bucks add up with access to unlimited rewards.</p>
