<!DOCTYPE html>
<html>
<head>
  <title>FreshRewards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="has-logo" class="row">
  logo
</header>

<header id="has-navigation" class="row">
  <ul id="is-navigation">
    <li>Redeem Now</li>
    <li>FAQ</li>
    <li>Contact Us</li>
    <li>Customer Service</li>
    <li>Back to MyWeis Account</li>
  </ul>
</header>

<section class="row">
  <%= yield %>
</section>

</body>
</html>
